<div class="bg-light py-4 py-md-3">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                    <div class="row gy-3 mb-5">
                        <div class="col-12">
                            <div class="text-center">
                                <h2>Cambiar Contraseña</h2>
                            </div>
                        </div>
                        <div class="col-12">
                            <h2 class="fs-6 fw-normal text-center text-secondary m-0 px-md-5">
                                Introduce tu contraseña actual y luego ingresa una nueva contraseña para actualizar tu
                                cuenta.
                            </h2>
                        </div>
                    </div>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                        <div class="row gy-3 gy-md-4 overflow-hidden">
                            <!-- Contraseña Actual -->
                            <div class="col-12">
                                <label for="currentPassword" class="form-label">Contraseña Actual <span
                                        class="text-danger">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class='bx bxs-lock-alt'></i>
                                    </span>
                                    <input [type]="showPassword.current ? 'text' : 'password'" class="form-control"
                                        id="currentPassword" formControlName="currentPassword"
                                        placeholder="Contraseña actual">
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="togglePassword('current')">
                                        <i class="bx" [ngClass]="showPassword.current ? 'bx-hide' : 'bx-show'"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- Nueva Contraseña -->
                            <div class="col-12">
                                <label for="newPassword" class="form-label">Nueva Contraseña <span
                                        class="text-danger">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class='bx bxs-lock'></i>
                                    </span>
                                    <input [type]="showPassword.new ? 'text' : 'password'" class="form-control"
                                        id="newPassword" formControlName="newPassword" placeholder="Nueva contraseña">
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="togglePassword('new')">
                                        <i class="bx" [ngClass]="showPassword.new ? 'bx-hide' : 'bx-show'"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- Confirmar Contraseña -->
                            <div class="col-12">
                                <label for="confirmPassword" class="form-label">Confirmar Contraseña <span
                                        class="text-danger">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class='bx bxs-lock'></i>
                                    </span>
                                    <input [type]="showPassword.confirm ? 'text' : 'password'" class="form-control"
                                        id="confirmPassword" formControlName="confirmPassword"
                                        placeholder="Confirma tu nueva contraseña">
                                    <button type="button" class="btn btn-outline-secondary"
                                        (click)="togglePassword('confirm')">
                                        <i class="bx" [ngClass]="showPassword.confirm ? 'bx-hide' : 'bx-show'"></i>
                                    </button>
                                </div>
                                <div class="text-danger small mt-3 d-block">
                                    @if (changePasswordForm.hasError('mismatch')) {
                                    <span class="d-block">*Las
                                        contraseñas no coinciden.</span>
                                    }
                                    @if (changePasswordForm.hasError('minLengthError')) {
                                    <span class="d-block">*La
                                        nueva contraseña debe tener al menos 8 caracteres.</span>
                                    }

                                </div>


                            </div>
                        </div>
                        <!-- Botón de Cambio de Contraseña -->
                        <div class="row mt-3">
                            <div class="col-6">
                                <button class="btn btn-secondary w-100" [routerLink]="redirectUrl" [disabled]="loading">
                                    Volver
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-primary w-100" type="submit"
                                    [disabled]="loading || changePasswordForm.invalid">
                                    @if(loading){
                                    <span class="spinner-border spinner-border-sm"></span>
                                    }
                                    Cambiar Contraseña
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>