@if(!isResetMode){
<div class="bg-light py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                    <div class="row gy-3 mb-5">
                        <div class="col-12">
                            <div class="text-center">
                                <h2>Restablecer Contraseña</h2>
                            </div>
                        </div>
                        <div class="col-12">
                            <h2 class="fs-6 fw-normal text-center text-secondary m-0 px-md-5">Proporciona la dirección
                                de correo electrónico asociada a tu cuenta para recuperar tu contraseña.</h2>
                        </div>
                    </div>
                    <form [formGroup]="resetForm">
                        <div class="row gy-3 gy-md-4 overflow-hidden">
                            <div class="col-12">
                                <label for="email" class="form-label">Correo Electrónico <span
                                        class="text-danger">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class='bx bx-envelope'></i>
                                    </span>
                                    <input type="text" class="form-control" name="email" id="email"
                                        formControlName="email" placeholder="name@example.com">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    @if (!loading) {
                                    <button class="btn btn-primary btn-lg" type="submit"
                                        (click)="requestPasswordReset()">Restablecer</button>
                                    } @else {
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12">
                            <hr class="mt-5 mb-4 border-secondary-subtle">
                            <div class="d-flex gap-4 justify-content-center">
                                <a [routerLink]="['/login']" role="button"
                                    class="link-secondary text-decoration-none">Iniciar
                                    sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}@else {
<div class="bg-light py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                    <div class="row gy-3 mb-5">
                        <div class="col-12">
                            <div class="text-center">
                                <h2>Restablecer Contraseña</h2>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="resetFormPassword">
                        <div class="row gy-3 gy-md-4 overflow-hidden">
                            <div class="col-12">
                                <label for="email" class="form-label">Contraseña <span
                                        class="text-danger">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bx bx-lock-alt"></i>
                                    </span>
                                    <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control"
                                        name="password" id="password" formControlName="password">
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="email" class="form-label">Confirmar contraseña<span
                                        class="text-danger">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bx bx-lock-alt"></i>
                                    </span>
                                    <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control"
                                        name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="togglePasswordVisibility()">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{ isPasswordVisible ? 'Ocultar contraseña' : 'Mostrar contraseña' }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    @if (!loading) {
                                    <button class="btn btn-primary btn-lg" type="submit"
                                        (click)="resetPassword()">Restablecer</button>
                                    } @else {
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}